<%= form_for @post do |f| %>
  <div class="form-control">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-control">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="form-control">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="form-control">
    <%= f.submit 'Сохранить' %>
  </div>
<% end %>
